## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [31]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [32]:
# 결측치 만들기 ( NaN, nan) # NaN nan 둘다 동일함

# 1행 0열 결측치 만들기
# 방법1 (loc사용)
df.loc['B', 1] = np.NaN # 결측치 입력
#df.loc['B'][1] = np.NaN # 결측치 입력 (돌아가기는 한데 무슨 차이인지 모름)
# 0행 0열 결측치 만들기
# 방법2 (iloc 사용)
df.iloc[0,1] = np.nan

# 3열 1~3행 결측치 만들기
df.iloc[1:, 2] = np.nan
# df[2]['B':] = np.nan # 권장 코드가 아님
# ---------------------------------------- dataframe 확인
df

     0    1    2    3
A  1.0  NaN  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [33]:
# 누적합을 구할 때

df.cumsum() # 결측치가 많아서 연산이 안됨

     0    1    2    3
A  1.0  NaN  1.0  1.0
B  2.0  NaN  NaN  2.0
C  3.0  1.0  NaN  3.0
D  4.0  2.0  NaN  4.0

In [34]:
# 결측치 확인
df.isnull()
# pd.isnull(df) # 위의 코드랑 결과가 같음
df.notnull()

      0      1      2     3
A  True  False   True  True
B  True  False  False  True
C  True   True  False  True
D  True   True  False  True

In [35]:
# 결측치 개수 확인

df.isnull().sum() # 열단위 확인

#df.isnull().sum().sum()
#df.isnull().count()

0    0
1    2
2    3
3    0
dtype: int64

In [37]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [40]:
#df.fillna(0) # 결측치를 전부 0으로 대체
df.fillna( {1:'NULL', 2:-1000 } ) #

     0     1       2    3
A  1.0  NULL     1.0  1.0
B  1.0  NULL -1000.0  1.0
C  1.0     1 -1000.0  1.0
D  1.0     1 -1000.0  1.0