##  데이타 분석

데이타 -> 필터링 -> 정제 -> 시각화 -> 분석


## 데이타 필터링

분석에 필요한 데이타를 거르는 작업 ( 데이타 추출 )

1. 열단위 추출 : df['컬럼명']

2. 행단위 추출 : df.loc[인덱스명칭] / df.iloc[인덱스위치]

    - loc[] : 명칭 기반 인덱싱
    - iloc[] : 위치 기반 인덱싱
    
    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능
    

        - loc과 iloc 차이
            - df.loc[-1]  # 에러
            - df.iloc[-1] # 마지막번호

In [2]:
# 데이타 추출

import pandas as pd

df = pd.read_excel('http://qrc.depaul.edu/excel_files/presidents.xlsx')

 1. 열단위 추출

 'President','Age at inauguration' 컬럼명 추출

In [3]:
#df[['President', 'Age at inauguration']]
df.columns[[0,3]]

Index(['President', 'Age at inauguration'], dtype='object')

 2. 행단위 추출
 
   조지워싱턴 / 링컨/ 오마바 대통령 정보만 출력


    loc[] : 명칭 기반 인덱싱
    iloc[] : 위치 기반 인덱싱
    
    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능



 (1) loc

In [4]:
df.loc[[0,13,34]]

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8.0,1789,57,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.000000,NA()
13,Abraham Lincoln,4.0,1861,52,Illinois,180,1865908,4685561,303,900.0,Republican,Lawyer,None,59.405941,39.8225
34,Barack Obama,NaN,2009,47,Illinois,365,69492376,129438754,538,NaN,Democrat,Lawyer,Columbia University,67.843866,53.6875

 (2) iloc

In [5]:
df.loc[[0,13,34]]

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8.0,1789,57,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.000000,NA()
13,Abraham Lincoln,4.0,1861,52,Illinois,180,1865908,4685561,303,900.0,Republican,Lawyer,None,59.405941,39.8225
34,Barack Obama,NaN,2009,47,Illinois,365,69492376,129438754,538,NaN,Democrat,Lawyer,Columbia University,67.843866,53.6875

3. 마지막행의 데이타 추출

In [6]:
#df.loc[-1] 실제 순서대로 하는 인덱스가 아니라서 오류 발생
df.iloc[-1]

President                        Barack Obama
Years in office                           NaN
Year first inaugurated                   2009
Age at inauguration                        47
State elected from                   Illinois
# of electoral votes                      365
# of popular votes                   69492376
National total votes                129438754
Total electoral votes                     538
Rating points                             NaN
Political Party                      Democrat
Occupation                             Lawyer
College                   Columbia University
% electoral                           67.8439
% popular                             53.6875
Name: 34, dtype: object

 4. 초대 대통령 10명의 이름과 대학을 추출
 
 행열 모두 지정하여 추출 
 
 하지만 컬럼명을 기술하는 것을 권장

In [9]:
# 1.
#df[0:11][['President', 'College']]
# 2.
#df[['President', 'College']][0:11] # 거꾸로 해도 나오는데 왜 되는지 모름
# 3.
#df.head(10)[['President', 'College']] # 같은 값이 나옴

# ------------------------------------------------------------------------
# ***** .loc() 함수는 인덱스 부분에만 사용이 가능한 함수 *****

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7          Martin Van Buren
8     William Henry Harrison
9              James K. Polk
10            Zachary Taylor
11           Franklin Pierce
12            James Buchanan
13           Abraham Lincoln
14          Ulysses S. Grant
15       Rutherford B. Hayes
16         James A. Garfield
17          Grover Cleveland
18         Benjamin Harrison
19          Grover Cleveland
20          William McKinley
21       William Howard Taft
22            Woodrow Wilson
23         Warren G. Harding
24            Herbert Hoover
25        Franklin Roosevelt
26      Dwight D. Eisenhower
27           John F. Kennedy
28          Richard M. Nixon
29              Jimmy Carter
30             Ronald Reagan
31               George Bush
32              Bill Clinton
33            George W. Bush
34              Barack Obama
Name: President, dtype: object

#### [ 결과 ]

                President           College
                
    0      George Washington              None

    1              John Adams           Harvard

    2        Thomas Jefferson  William and Mary

    3           James Madison         Princeton

    4            James Monroe  William and Mary

    5       John Quincy Adams           Harvard

    6          Andrew Jackson              None

    7       Martin Van Buren               None

    8  William Henry Harrison    Hampden-Sydney

### [추후] 미국대통령 데이타셋을 분석하고 정보를 도출하여 출력(시각화 권장)