In [85]:
apply : 
#

SyntaxError: invalid syntax (<ipython-input-85-13de9dcadf59>, line 1)

In [ ]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

df

In [ ]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(4))
print(my_fun2(4, 3))

In [86]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
# my_fun1( df['a'] )
# my_fun1(df)

df['a'].apply(my_fun1)
df['b'].apply(my_fun2, n=3) # 전달되는 인자를 명시해야함

df.apply(my_fun1)

df['a'].apply(lambda x:my_fun1(x))

0    100
1    400
2    900
Name: a, dtype: int64

In [87]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

#1.
# my_fun3의 인자 col에는 ?...
# dataframe을 넣을 때 열에 해당하는 값들이 인자로 ?..
df.apply(my_fun3) # 열단위로 (axis=0 세로)
df.apply(my_fun3, axis=1) #행단위로 (axis=1 가로)

0    12
1    24
2    36
dtype: int64

In [88]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

# 1.
df['a'].apply(func)
# 2.
df['a'].apply(lambda x:func(x))
#df

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [124]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")

In [125]:
customer

            date  price      state
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled
Yoon  2017-01-09    700  confirmed
Jang  2017-01-09    600   canceled
Ko    2017-01-10    200   canceled

In [126]:
# grade 컬럼 추가
# 1) 결제가 confirm 된 상태이고 금액이 500원 이상에 대한 조건값을 먼저 넣음
# 2) 함수 선언 (True이면 VIP 지정하고 False이면 Non-VIP)
# 3) grade 컬럼이랑 2번의 함수와 연결

In [127]:
# 1) 결제가 confirm 된 상태이고 금액이 500원 이상에 대한 조건값을 먼저 넣음

customer['grade'] = (customer['price']>=500) & (customer['state']=='confirmed')
customer

            date  price      state  grade
Name
Kang  2017-01-01    500  confirmed   True
Kim   2017-01-03    700  confirmed   True
Choi  2017-01-03    900  confirmed   True
Park  2017-01-05    800  confirmed   True
Lee   2017-01-07    500   canceled  False
Yoon  2017-01-09    700  confirmed   True
Jang  2017-01-09    600   canceled  False
Ko    2017-01-10    200   canceled  False

In [128]:
# 2) 함수 선언 (True이면 VIP 반환하고 False이면 Non-VIP 반환)
def makegrade(grade):
    if(grade==True):
        grade = 'VIP'
        print("grade true..", grade)
    elif(grade==False):
        grade = 'Non-VIP'
        print("grade false..", grade)
    return grade

In [129]:
# 3) grade 컬럼이랑 2번의 함수와 연결

#customer['grade'] = customer['grade'].apply(makegrade)
#customer

# ***** return 받은 값들을 적용을 해줘야 됨
# 방법1
customer['grade'] = customer['grade'].apply(makegrade)
customer

# 방법2
customer['grade'] = customer['grade'].apply(lambda x:makegrade(x))
customer

grade true.. VIP
grade true.. VIP
grade true.. VIP
grade true.. VIP
grade false.. Non-VIP
grade true.. VIP
grade false.. Non-VIP
grade false.. Non-VIP

            date  price      state grade
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled
Yoon  2017-01-09    700  confirmed
Jang  2017-01-09    600   canceled
Ko    2017-01-10    200   canceled