###  데이타 분석

데이타 -> 필터링 -> 정제 -> 시각화 -> 분석


### 데이타 필터링

분석에 필요한 데이타를 거르는 작업

# 고속버스 데이타셋에서 인사이트를 도출

[예] 

1. 우등고속에 대한 데이타 필터링(추출)

2. 경부선에서 총이용인원이 1000명 이상인 데이타 필터링(추출)

3. 그 외 데이타를 찾아내시오

In [1]:
import pandas as pd

df = pd.read_excel('data/고속버스.xlsx') 
       # sheetname='highway'  encoding='cp949' 추가 안해도 실행  
#df.head()  # 상위 5개만 보임
df

     차종   선별   출발지   도착지     거리  총운행횟수  총이용인원   이용율
0    우등  88선    광주    울산  327.8    412   7283  63.1
1    고속  88선    광주    울산  327.8    145   3050  46.7
2    우등  88선    광주  울산신복  327.8    164    545  11.9
3    고속  88선    광주  울산신복  327.8     70    311   9.9
4    우등  88선    광주   동대구  219.3   1369  21873  57.1
..   ..  ...   ...   ...    ...    ...    ...   ...
346  고속  호남선    청주    광주  207.5    268   4858  40.3
347  고속  호남선  청주시외    여수  290.1     21    513  54.3
348  우등  호남선    광주    전주  105.9   1802  34137  67.7
349  고속  호남선    광주    전주  105.9   1043  30394  64.8
350  우등  호남선    여수    군산  195.9    114    711  22.3

[351 rows x 8 columns]

[연습]

In [13]:
# 1. 우등고속에 대한 데이타 필터링(추출)

#df.groupby('차종').count()
#df.groupby('차종').mean()
df.groupby('차종').count().loc['우등']
#df[df['차종']=='우등'].count()

선별       170
출발지      170
도착지      170
거리       170
총운행횟수    170
총이용인원    170
이용율      170
Name: 우등, dtype: int64

In [4]:
# 2. 경부선에서 총이용인원이 1000명 이상인 데이타 필터링(추출)

df[(df['총이용인원']>=1000) & (df['선별']=='경부선')]

     차종   선별   출발지   도착지     거리  총운행횟수  총이용인원   이용율
18   고속  경부선  서울경부    안성   77.8   3541  99277  62.3
19   고속  경부선  서울경부  안성중대   74.0   1744  29615  37.7
20   고속  경부선  서울경부    평택   69.8   2770  72167  57.9
21   우등  경부선  서울경부  대전복합  153.2   3555  77759  78.1
22   고속  경부선  서울경부  대전복합  153.2   1507  64208  94.7
..   ..  ...   ...   ...    ...    ...    ...   ...
118  고속  경부선    부산   동대구  101.5    639  14924  51.9
119  우등  경부선    부산    경주   69.2    596   5712  34.2
120  고속  경부선    부산    경주   69.2    319   5182  36.1
121  고속  경부선    울산   동대구  114.2   2027  27107  29.7
122  고속  경부선   동대구    경주   69.5   1596  23898  33.3

[86 rows x 8 columns]